DATABASE_URL=""
DIRECT_URL=""

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

RESEND_API_KEY=""
NEXT_PUBLIC_RESEND_FROM_EMAIL=""

NODEMAILER_HOST=""
NODEMAILER_PORT=""
NODEMAILER_USER=""
NODEMAILER_PASS=""

APP_ENCRYPTION_KEY=""
